<div class="container text-center">
  <div class="row d-flex justify-content-center">
  <div class="col d-block charselect"><div class="row"><img src="images/a.jpg"></div><p class="text-center">Eugene</p></div>
  <div class="col d-block charselect"><div><img src="images/b.jpg"></div><p class="text-center">Sadie</p></div>
  <div class="col d-block charselect"><div><img src="images/c.jpg"></div><p class="text-center">Sasha</p></div>
  <div class="col d-block charselect"><div><img src="images/d.jpg"></div><p class="text-center">Sinclair</p></div>
  </div>
</div>