<<<<<<< HEAD

<div class="container">
    <div id="sign" class="row">
        <img src="/images/title1.png" class="mx-auto" style="max-width: 550px; max-height: 550px;">        
=======
<div class="container">
    <div id="sign" class="row">
        <img src="/images/signage.png" class="mx-auto" style="max-width: 550px; max-height: 550px;">        
>>>>>>> 38ec232377bd88dd45de73eccf04940acfa1ed9f
    </div>

    <div class="row">
        <div id="login" class="text-center"><button type="button" class="btn btn-outline-light"><a href="/login">Login</a></button></div>
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 38ec232377bd88dd45de73eccf04940acfa1ed9f
