
<div class="container">
    <div id="sign" class="row">
        <img src="/images/title1.png" class="mx-auto" style="max-width: 550px; max-height: 550px;">        
    </div>
    <div class="row">
        <div id="login" class="text-center"><button type="button" class="btn btn-outline-light"><a href="/login">Login</a></button></div>
    </div>
</div>
