<div class="container-fluid">

    <div id="sign" class="d-flex row">
        <div class="col-2 d-flex justify-content-start">
            <img src="/images/LGate.png" id="Lgate" class="mx-auto">
        </div>
        <div class="col-8 d-flex justify-content-center">
            <img src="/images/title1.png" class="mx-auto" style="max-width: 550px; max-height: 550px;">
        </div>
        <div class="col-2 d-flex justify-content-end">
            <img src="/images/RGate.png" id="Rgate" class="mx-auto">
        </div>

        <div class="row">
            <div class="col">
                <div id="start" class="text-center"><button type="button" class="btn btn-outline-light"><a
                            href="/story/:id">Start
                            Reading</a></button></div>
                <div id="login" class="text-center"><button type="button" class="btn btn-outline-light"><a
                            href="/login">Login</a></button></div>
            </div>
        </div>
    </div>
