<div class="container">
    <div class="row">        
        <div class="row">
            <img src="/images/signpost.png" class="mx-auto" style="max-width: 550px; max-height: 550px;">
            <div id="signpost" class="container">                
                <div class="row">
                    <div id="story" class="text-center"><a href="/story/:id">To Prendergast Manor</a></div>
                </div>
                <div class="row">
                         <div id="home" class="text-center"><a href="/">Back to Town</a></div>
                </div>
                <div class="row">
                    <div id="comment" class="text-center"><a href="/comment">Comments</a></div>
                </div>
                <div class="row">
                    <div id="credit" class="text-center"><a href="/credit">Credits</a></div>
                </div>

            </div>
        </div>

    </div>
      <script src='/js/select.js'></script>
</div>