:root {
  /*color palette*/
  --plum: #2c0945;
  --gold: #ffd462;
  /*text size*/
  --text-size: 20px;
  --title-size: 28px;
}
a {
  color: #ffd462;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

body {
  background-color: var(--plum);
  color: var(--gold);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.portfolio-hero-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e6e6e6;
  padding: 2rem 0;
}

.portfolio-hero-header-description {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.portfolio-hero-header-description li {
  -webkit-flex: 1 0 200px;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
  text-align: center;
  padding: 0 1.25rem;
  position: relative;
  white-space: nowrap;
}

.portfolio-hero-header-description li:before {
  content: "*";
  position: absolute;
  left: 0;
  top: 5px;
}

.portfolio-hero-header-description li:first-child:before {
  content: "";
}

.portfolio-hero-header-menu {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.portfolio-hero-header-menu li {
  margin: 1.25rem;
}

.portfolio-hero-header-menu li a {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.groupBanner {
  background-color: --plum;
  height: 30vh;
}
#groupName {
  padding: 10px;
  color: rgb(28, 182, 28);
  font-size: 50px;
  font-family: "Creepster", cursive;
}

.story {
  font-size: 75px;
  font-family: "Creepster", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -200%);
}
#login {
  margin: 10px;
}

#copyright {
  color: white;
}

#lock {
  position: absolute;
  left: 0;
  color: black;
}

.painttext {
  font-family: "Finger Paint", cursive;
}

.sub:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  #lock {
    top: 40.5%;
  }
  .painttext {
    font-size: 12px;
  }
}

@media only screen and (min-width: 600px) {
  #lock {
    top: 41%;
  }
}

@media only screen and (min-width: 992px) {
  #lock {
    top: 42%;
  }
}

/* comment section css */
#commTitle {
  font-size: 20px bolder;
  margin-top: 68px;
  line-height: 40px;
}

.commFont {
  font-family: Trattatello, fantasy;
  color: rgb(85, 52, 9);
  text-shadow: 0px 0px 1px rgb(46, 27, 2);
}

.smComm {
  font-size: 20px;
  margin: 10px;
}

#loginForm {
  position: relative;
}

#name {
  margin-top: 10px;
}

.commBox {
  background-color: transparent;
  border-color: transparent;
}

.thank-you {
  font-size: 55px;
}

.hide {
  display: none;
} 
  
  .portfolio-hero-header-description li:first-child:before {
    content: "";
  }
  
  .portfolio-hero-header-menu {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-menu li {
    margin: 1.25rem;
  }
  
  .portfolio-hero-header-menu li a {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  
  
  .groupBanner{
    background-color: --plum;
    height: 20vh;
  }
  #groupName{
    padding: 10px;
    color: rgb(28, 182, 28);
    font-size: 50px;
    font-family: 'Creepster', cursive;
  }
  
  .story{
    font-size: 75px;
    font-family: 'Creepster', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -200%);
  }
  #login{
    margin: 10px;
  }
  
  #copyright{
    color: white;
  }
  
  #lock{
    position: absolute;  
    left: 0;
    color: black;
  }
  
  .painttext{
    font-family: 'Finger Paint', cursive;
  }
  
  .sub:hover{
    color:white;
  }

 

  #signpost{
    position: absolute;
    left: 0;
    color: black;
    font-family: 'Finger Paint', cursive;
  }

  .charselect{
    border: 1px solid;
    border-color: white;    
    margin: 10px;
    display:inline-block;
    padding-top: 10px;
    border-radius: 8px;
    transition: all 0.5s ease-in-
  out;
  }

  .charselect:hover{
    box-shadow: inset 0px 0px 8px
  rgb(255, 255, 255), 0 0 15px
  rgb(244, 208, 245);
  }

  .charselect:hover{
    border: 1px solid;
  }

  
  
  @media only screen and (min-width: 500px) {
    #greet{
      top:
    }
    #lock{
      top: 31%;
    }
    #signpost{
      top: 35%;
    }
    #home{
      margin-top: 8.5%;
    }
    #comment{
      margin-top: 7%;
    }
    #credit{
      margin-top:7%;
    }
    #Lgate{
      display: none;
    }
    #Rgate{
      display: none;
    }
  }

  @media only screen and (min-width: 700px) and (max-width: 1024px) {
    #lock{
      top: 29%;
    }
    #signpost{
      top: 35%;
    }
    #home{
      margin-top: 7%;
    }
    #comment{
      margin-top: 6%;
    }
    #credit{
      margin-top:6%;
    }
    #Lgate{
      display: none;
    }
    #Rgate{
      display: none;
    }
  }
  
  
  @media only screen and (min-width: 1025px) {
    #lock{
      top: 30%;
    }
    #signpost{
      top: 34%;
    }
    #home{
      margin-top: 3%;
    }
    #comment{
      margin-top: 3%;
    }
    #credit{
      margin-top: 2.5%;
    }

    #Lgate{
      display: flex;
      max-width: 350px; max-height: 350px;
    }
    #Rgate{
      display: flex;
      max-width: 350px; max-height: 350px;
    }

  }