img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.zombiehand,
.mansionfront,
.foyer,
.kitchen,
.library,
.cemetary,
.seance,
.darkstairway,
.cellar,
.garden {
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  width:  100%;
  height: 100%;
  object-fit: fill;
  z-index: 0;
}

.ghostfoyer {
  position: absolute;
  background-repeat: no-repeat;
  width:  15%;
  height: 15%;
  top: 350px;
  left: 0;
  z-index: 1;
}

.ghoststairway {
  position: absolute;
  width: 15%;
  top: 0;
  left: 0;
}

.hand {
  display: block;
  position: absolute;
  width:  100%;
  height: 100%;
  object-fit: fill;
  top: 0;
  left: 0;
  z-index: 1;
}

.treasureclosed, .treasureopen {
  position: absolute;
  width:  100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
  z-index: 1;
}

#treasurecircle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.goldcoinpng{
  position: absolute;
  width: 5%;
  top: -25px;
  left: -20px;
}

.goldcoins-wrapper{
  position: relative;
  top: -30px;
  left: -20px;
}

.congratsText {
  position: absolute;
  font-size: 45px;
  top: 0;
  left: 0;
  z-index: 1;
}

.titletext {
  position: absolute;
  text-align: center;
  font-size: 60px;
  top: 0;
  z-index: 1;
} 

.sceneTitle {
  position: absolute;
  top:50%;
  left:40%;
  z-index: 1;
}

.storyText {
  text-align: left;
    font-size:18px;
    font-family:"Passion One",sans-serif;
    letter-spacing:1px;

  }

.storyText .letter {
    display: inline;
  }


