:root {
    /*color palette*/
    --plum:#2C0945;
    --gold: #FFD462;
    /*text size*/
    --text-size: 20px;
    --title-size: 28px;
}
a {
    color: #FFD462;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    text-decoration: underline;
  }
  
body {
background-color: var(--plum);
color: var(--gold);
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.portfolio-hero-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e6e6e6;
    padding: 2rem 0;
  }
  
  .portfolio-hero-header-description {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-description li {
    -webkit-flex: 1 0 200px;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
    text-align: center;
    padding: 0 1.25rem;
    position: relative;
    white-space: nowrap;
  }
  
  .portfolio-hero-header-description li:before {
    content: "*";
    position: absolute;
    left: 0;
    top: 5px;
  }
  
  .portfolio-hero-header-description li:first-child:before {
    content: "";
  }
  
  .portfolio-hero-header-menu {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-menu li {
    margin: 1.25rem;
  }
  
  .portfolio-hero-header-menu li a {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  
  
  .groupBanner{
    background-color: --plum;
    height: 30vh;
  }
  #groupName{
    padding: 10px;
    color: rgb(28, 182, 28);
    font-size: 50px;
    font-family: 'Creepster', cursive;
  }
  
  .story{
    font-size: 75px;
    font-family: 'Creepster', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -200%);
  }
  #login{
    margin: 10px;
  }
  
  #copyright{
    color: white;
  }
  
  #lock{
    position: absolute;  
    left: 0;
    color: black;
  }
  
  .painttext{
    font-family: 'Finger Paint', cursive;
  }
  
  .sub:hover{
    color:white;
  }
  
  @media only screen and (max-width: 600px) {
    #lock{
      top: 40.5%;
    }
    .painttext{
      font-size: 12px;
    }
  }
  
  @media only screen and (min-width: 600px) {
    #lock{
      top: 41%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    #lock{
      top: 42%;
    }
  }